/* Add any CSS necessary for your custom content */
#float_survey {opacity:0.9;position:absolute; width:100%; left:0;top:120px; z-index:5000; display:none}
#survey .btn a, #float_survey a {color: white}
#survey h2 {
 color:#e51a4c;
}

#survey .remember {
  min-width:200px;
  font-size:0.8em;
}
#survey .in {
 background:black;
 color:#cccccc;
 padding:30px;
 margin-right:auto;
 margin-left:auto
}
@media (max-width:767px) {
 #survey .in {
  top: 0;
 }
}
@media (min-width:768px) {
 #survey .in {
  width:750px
 }
}
@media (min-width:992px) {
 #survey .in {
  width:970px
 }
}
@media (min-width:1200px) {
 #survey .in {
  width:1170px;
 }
}

body li.map a{
  position: absolute;
  font-weight: bold;
  margin-top: 37px;
  right: 0;
  width: 114px;
  padding-right:0px;
}

.navbar-default .container {
  border-top: 25px solid #bc0f3a;
  border-bottom: 25px solid #bc0f3a;
  background-color: #e51a4c;
}

body div.panel-heading.text-info[data-toggle="collapse"], .navbar-default .container .navbar-nav > li > a:focus, .navbar-default .container .navbar-nav > li > a:hover, .navbar-default .container .navbar-nav > li > form > a:hover, .navbar-default .container .navbar-nav > li > a, #navbarFixed .container form.navbar-form-link a.ui-commandlink:hover {
  color: black;
}
.navbar-default .container .navbar-nav > li > form > a, .navbar-default .container .navbar-nav > li > a, #navbarFixed .container form.navbar-form-link a.ui-commandlink {
  color: white;
}
form.lang {
  position: absolute;
  font-weight: bold;
  margin-top: -37px;
  right: 5px;
  width: 150px;
}
.navbar-default .container .nav > .open > a {
  background-color: #bc0f3a;
  background-image: none;
}
.navbar-nav {
  padding-top: 10px;
}
#navbarFixed img {
  margin-left:5px;
}

body .text-danger {
  color: orange;
}
#footer {
  display: none;
}
#custom-footer .container {
  margin-top: 10px;
  padding-top: 15px;
  background-color: black;
  color: white;
}
#custom-footer .col-sm-8 {
  padding-top: 30px;
  width: 30%
}
#custom-footer .col-sm-4 {
  width: 70%
}
body a:hover, #dv-sidebar form[id$="facetType"] > div.clearfix a.facetTypeLink:hover, a.dataverseHeaderDataverseName, body .ui-widget-content a:hover, body .ui-widget-content a:focus {
 color: #e51a4c;
}
body a, #dv-sidebar form[id$="facetType"] > div.clearfix a.facetTypeLink, body .ui-widget-content a {
  color: #333;
  text-decoration: underline;
}
#topNavBar a {
  text-decoration: none;
}
body .ui-button, body .btn,body .btn.btn-default.btn-access:focus, body .btn.btn-default.btn-access {
  text-shadow: none;
  text-decoration: none;
  background-color: #e51a4c;
  background-image: none;
  color: white;
}
body .ui-button:hover, body .btn:hover, body .btn.btn-default.btn-access:hover {
  text-shadow: none;
  text-decoration: none;
  background-color: #a4052d;
  color: white;
}
body .text-info {
    color:#666;
}
body .alert-info {
  color: #a4052d;
  background-image: linear-gradient(to bottom,#fff 0,#eae8ed 100%);
  border-color: #a4052d;
}
.navbar-nav > li > .dropdown-menu, .btn-group .dropdown-menu > li > a, .btn-group .dropdown-menu {
  text-decoration: none;
  background-color: #e51a4c;
  color: white;
}
.navbar-nav > li > .dropdown-menu > .form-inline > li:hover  {
  background-color: #bc0f3a;
}
.navbar-nav > li > .dropdown-menu > li > a, #navbarFixed .dropdown.accountName.open .logout a, .navbar-nav > li > .dropdown-menu > .form-inline >li > a {
  color: white;
}
li.dropdown > .dropdown-menu > li > a:focus,li.dropdown > .dropdown-menu > li > a:hover, #navbarFixed .dropdown.accountName.open .logout a:focus, #navbarFixed .dropdown.accountName.open .logout a:hover, .btn-group .dropdown-menu > li > a:hover {
  background-color: #a4052d;
  background-image: none;
}
body .ui-picklist-buttons-cell .ui-button, body .button-block .ui-button, body .ui-widget-content .ui-fileupload-buttonbar .ui-state-default, body .ui-widget-header .ui-fileupload-buttonbar .ui-state-default, body .ui-widget-content a.btn-default {
    color: white;
    background-color: #e51a4c;
    background-image: none;
    border: 1px solid #a4052d;
    text-shadow:none;
    text-decoration: none;
}
body .ui-picklist-buttons-cell .ui-button:hover, body .button-block .ui-button:hover, body .ui-widget-content .ui-fileupload-buttonbar .ui-state-default:hover, body .ui-widget-header .ui-fileupload-buttonbar .ui-state-default:hover, body .ui-widget-content a.btn-default:hover {
    background-color: #a4052d;
}

body .ui-tabs .ui-tabs-nav.ui-widget-header li a {
    color: #e51a4c;
}
 
body .pagination>li>a, body .pagination>li>span {
  color: #e51a4c;
}
.pagination>.active>a, body .pagination>.active>a:focus, body .pagination>.active>a:hover, body .pagination>.active>span, body .pagination>.active>span:focus, body .pagination>.active>span:hover {
  background-color: #e51a4c;
  border-color: #e51a4c;
}
.customNavigation a{
  background: none;
}
body .owl-carousel .item {
  background-color: #eae8ed;
  border: 1px solid #eae8ed;
}

body table[id$='resultsTable'] td > div.dataverseResult {
  border-color: #e51a4c;
}
body table[id$='resultsTable'] td > div.datasetResult {
  border-color: #a4052d;
}

[id$='title-block'] div.title-preview-icon-block {
  color: #a4052d;
}

@media (max-width: 767px) {
  .navbar-collapse .navbar-nav {
    border: 1px solid #eae8ed;
    margin: 0;
  }
  .navbar-collapse .navbar-form-link {
    border: 1px solid #eae8ed;
    padding: 0;
  }
  div#topNavBar.navbar-collapse.collapse.in {
    position: fixed;
    top: 140px;
    right: 0;
    left: 0px;
    z-index: 99930;
    background-image: linear-gradient(to bottom,#fff 0,#eae8ed 100%);
  }
  #topNavBar>ul.nav.navbar-nav.navbar-right>li {
    margin-left:10px;
  }
  #topNavBar .nav > li > a {
    padding:0 0 5px 0;
  }
  #topNavBar form {
    padding-left: 25px;
  }
  #topNavBar li.dropdown > .dropdown-menu > li > a {
    background-color: white;
    color: black;
  }
  #topNavBar li.dropdown > .dropdown-menu > li > a:hover {
    color: #a4052d;
  }
  .navbar-nav  ul.dropdown-menu li > a:hover {
    color: white;
  }
  form.lang {
    position: absolute;
    font-weight: bold;
    right: 5px;
    width: 150px;
    z-index: 99940;
  }
  body #dataverseHeader {
    margin-top: 70px;
  }
  body #content {
    margin-top: 10px;
  }
  body #content #login-container {
    margin-top: 3em;
  }
  body .lang {
    top:40px;
    right:0;
  }
  body .lang a:hover, body .lang a:focus{ 
    color:black;
  }
  body .lang a{
    color:white;
    text-decoration:none;
  }

}  
